<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project">

    <application
        android:allowBackup="true"
        android:icon="@drawable/bdpagepro"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bdpagepro"
        android:supportsRtl="true"
        android:theme="@style/Theme.RxjavaAdnroid">
        <activity
            android:name=".Repo.filter.FilterActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Repo.from.FromActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Repo.timer.TimerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Repo.interval.IntervalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Repo.flowable.FlowableActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Repo.range.RangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Repo.Just.JustActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Repo.create.CreateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Repo.main.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>